.fixedColumsTable {
    position: relative;
    @mixin thSort {
        > * {
            &:nth-child(1) {
                display: inline-flex;
                align-items: center;
            }
        }
    }

    ::v-deep .top-left-ths {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 30;
        background: #fff;
        white-space: nowrap;
        transform: translateZ(20px);
        &.scrolling {
            box-shadow: 5px 0 5px -5px #999;
        }
        // display: none;
        > * {
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
    }
    ::v-deep .top-right-ths {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 30;
        background: #fff;
        white-space: nowrap;
        // display: none;
        &.scrolling {
            box-shadow: -5px 0 5px -5px #999;
        }
        > * {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            > div {
                white-space: pre-wrap;
                display: inline-block;
                @include thSort();
                text-align: center;
                vertical-align: top;
            }
        }
    }
    ::v-deep .left-fixed {
        position: absolute;
        top: 0;
        left: 0;
        background: #fff;
        z-index: 10;
        white-space: nowrap;
        transform: translateZ(10px);
        // display: none;
        &.scrolling {
            box-shadow: 5px 0 5px -5px #999;
        }
        > div {
            white-space: pre-wrap;
            display: inline-block;
            @include thSort();
            text-align: center;
            vertical-align: top;
            > * {
                border-bottom: 1px solid #efefef;

                &:nth-child(n + 2) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center !important;
                }
            }
        }
    }
    ::v-deep .right-fixed {
        position: absolute;
        top: 0;
        right: 0;
        background: #fff;
        z-index: 10;
        white-space: nowrap;
        &.scrolling {
            box-shadow: -5px 0 5px -5px #999;
        }
        > div {
            display: inline-block;
            @include thSort();
            text-align: center;
        }
    }
}
.thead {
    white-space: nowrap;
    border-bottom: 1px solid #efefef;
    &-content {
        display: inline-block;
        ::v-deep .th {
            vertical-align: top;
            // display: inline-block;
            width: 200px;
            padding: 15px 0px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: 70px;
            font-size: 24px;
            &:nth-child(1) {
                // padding-left: 32px;
                width: 232px;
            }
        }
    }
}
.tbody {
    white-space: nowrap;
    &-content {
        display: inline-block;
        ::v-deep > * {
            border-bottom: 1px solid #efefef;
        }
        ::v-deep > * > * {
            width: 200px;
            padding: 15px 0px;
            text-align: center;
            // display: inline-block;
            // white-space: pre-wrap;
            vertical-align: middle;
            height: 70px;
            font-size: 24px;

            display: inline-flex;
            flex-direction: column;
            align-items: center;
            justify-content: center !important;
            white-space: pre-wrap;
        }
    }
}

::v-deep .sort {
    position: relative;
    display: inline-block;
    transform: scaleX(0.7);
    margin-left: 5px;
    top: 8px;
    flex-shrink: 0;
    flex-grow: 0;

    @mixin arrow {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-width: 10px;
        border-style: solid;
        border-top-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
        border-bottom-color: transparent;
        position: absolute;
        left: 0;
    }
    &::before {
        @include arrow();
        border-bottom-color: #ccc;
        top: -29px;
    }
    &::after {
        @include arrow();
        border-top-color: #ccc;
        top: -7px;
    }
    &.up {
        &::before {
            border-bottom-color: #666;
        }
    }
    &.down {
        &::after {
            border-top-color: #666;
        }
    }
}
